body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  }
  
  h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 50px;
  color: #222;
  }
  
  .search-bar {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  }
  
  form {
  display: inline-block;
  }
  
  input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  }
  
  button[type="submit"] {
  width: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4285f4;
  }
  
  .time-saved {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  }
  
  #time-saved-value {
  color: #4CAF50;
  font-weight: bold;
  }